// ----------------------------------------------------------------------------
// Widget-ohmotion styles
// ----------------------------------------------------------------------------
.widget-ohmotion {

  .title {
    color: #fff;
  }

  .icon-active {
  	color: #ff00aa;
  }

  .icon-inactive {
  	color: #888888;
  }

}
