// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #888888;

$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-stmode styles
// ----------------------------------------------------------------------------
.widget-stmodechange {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  i {
  	font-style: normal;
  }

  .container {
  	position: relative;
  	height: 75px;
  }

  .icon, .timer {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  .timer {
  	z-index: 1;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
