// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #888888;
$title-color:       #fff;
$value-color:		#fff;

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-stswitch {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .on-off-icon {
    font-weight: 500;
    font-size: 150%;
    color: $value-color;
  }

}
