// ----------------------------------------------------------------------------
// Widget-stmode styles
// ----------------------------------------------------------------------------
.widget-stmode {

  .title {
    color: #fff;
  }

  .mode {
  	color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
  }

}
