// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #72818B;
$title-color:       rgba(255, 255, 255, 0.7);
$value-color:		#fff;

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-stdimmer {

  background-color: $background-color;
  position: relative;

  .title {
    color: $title-color;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .dimmer-icon {
    font-weight: 500;
    font-size: 150%;
    color: $value-color;
  }

  .toggle-area {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }

  .level {
    display: inline-block;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
  }

  .unit {
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
  }

  .secondary-icon {
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    width: 32px;
    color: #485258;

    &.plus {
      right: 24px;

      i {
        padding-top: 10px;
        padding-left: 30px;
      }
    }

    &.minus {
      left: 8px;

      i {
        padding-top: 10px;
        padding-right: 30px;
      }
    }
  }

}