// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #45B4D5;

$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-stmotion styles
// ----------------------------------------------------------------------------
.widget-stmotion {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

}
