// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-sthumidity styles
// ----------------------------------------------------------------------------
.widget-sthumidity {

  .title {
    color: #fff
  }

  .value {
    color: #00aaff;
    display: inline-block;
    vertical-align: middle;
  }

  .unit {
    color: #00aaff;
    font-size: 250%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }


}
