// ----------------------------------------------------------------------------
// Widget-sthumidity styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-sthumidity {

  .value {
    color: $humidity-value-color;
    display: inline-block;
    vertical-align: middle;
  }

  .unit {
    color: $humidity-unit-color;
    font-size: 250%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }

}
