// ----------------------------------------------------------------------------
// Widget-stpresence styles
// ----------------------------------------------------------------------------
.widget-stpresence {

  .title {
    color: #fff;
  }

  .icon-present {
  	color: #aaff00;
  }

  .icon-absent {
  	color: #888888;
  }
}
