// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/themes/current.scss";

.widget-stlock {

  background-color: $background-color-action !important;

  .icon-unlocked {
  	color: #ff00aa;
  }

  .icon-locked {
  	color: #fff;
  }

}
