<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="thermostat" data-view="Stthermostat" data-title="" data-device="Thermostat"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="kitchenlight" data-view="Stswitch" data-title="Kitchen" data-device="Kitchen Switch"></div>
    </li>
    
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="stairslight" data-view="Stswitch" data-title="Stairs" data-device="Hallway Light"></div>
    </li>
    
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="dinninglight" data-view="Stswitch" data-title="dinning"  data-device="dinningLight"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>
    
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Mel" data-view="Stpresence" data-title="Melissa" data-device="Melissa sheffield's Android"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="Mike" data-view="Stpresence" data-title="Michael" data-device="Michael Leal's Android"></div>
    </li>
    
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="frontlight" data-view="Stswitch" data-title="Front Livingroom"  data-device="front Light"></div>
    </li>
    
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="bdlock" data-view="Stlock" data-title="Back Door" data-device="Backdoor Lock"></div>
    </li>
    
     <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
       <div data-id="wholeenergy" data-view="Stmeter" data-title="Energy" data-device="Whole Home Energy Meter" data-min="0" data-max="10000"></div>
    </li>
    
     <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
       <div data-id="washer" data-view="Stmeter" data-title="Washer" data-device="Washer Smart Energy Switch" data-min="0" data-max="5000"></div>
    </li>
    
     <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
       <div data-id="dryer" data-view="Stmeter" data-title="Dryer" data-device="dryer Smart Energy Switch" data-min="0" data-max="5000"></div>
    </li>
    
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="chuck" data-view="Text" data-title="Team Facts" data-moreinfo="">
     </li>     
    
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>




  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Dashboard 2" ></div>
    </li>
	  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
 </ul>
</div>
