<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <!-- Clock -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    <!-- Weather -->
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>
    <!-- Door Locks -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fdlock" data-view="Stlock" data-title="Front Door" data-device="Front Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kdlock" data-view="Stlock" data-title="Kitchen Door" data-device="Kitchen Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bdlock" data-view="Stlock" data-title="Bar Door" data-device="Bar Door"></div>
    </li>
    <!-- Temperature -->
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tunneltemp" data-view="Sttemp" data-title="Tunnel Temperature" data-device="End of Tunnel"></div>
    </li>
    <!-- Modes -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night"</div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="awaymode" data-view="Stmodechange" data-title="Goodbye" data-icon="hand-peace" data-changemode="Away"</div>
    </li>
    <!-- Lights -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tunnel1" data-view="Stdimmer" data-title="Tunnel Light 1" data-device="Tunnel Light #1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tunnel2" data-view="Stdimmer" data-title="Tunnel Light 2" data-device="Tunnel Light #2"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tunnel3" data-view="Stdimmer" data-title="Tunnel Light 3" data-device="Tunnel Light #3"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tunnel4" data-view="Stdimmer" data-title="Tunnel Light 4" data-device="Tunnel Light #4"></div>
    </li>    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tunnel5" data-view="Stdimmer" data-title="Tunnel Light 5" data-device="Tunnel Light #5"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenlight" data-view="Stdimmer" data-title="Kitchen Door" data-device="Kitchen Door"></div>
    </li>


  </ul>
</div>