<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [138, 145]
  Dashing.numColumns = 5
  Dashing.cycleDashboards({timeInSeconds: 0, stagger: true, page: 1});
});
</script>

<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sofalamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="Sofa" data-device="Sofa Lamp" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="consolelamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="Console" data-device="Console Lamp" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dininglamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="Dining Floor" data-device="Dining Lamp" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="diningwalllamp" data-view="Stswitch" data-icon="lightbulb-o" data-title="Dining Wall" data-device="Dining Wall Lamp" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenlight" data-view="Stswitch" data-icon="lightbulb-o" data-title="Kitchen" data-device="Kitchen Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroomlight" data-view="Stswitch" data-icon="lightbulb-o" data-title="Bedroom" data-device="Bedroom Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="officeswitch" data-view="Stswitch" data-icon="lightbulb-o" data-title="Office" data-device="Office Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="exteriorswitch" data-view="Stswitch" data-icon="lightbulb-o" data-title="Exterior" data-device="Front Porch Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="garageswitch" data-view="Stswitch" data-icon="lightbulb-o" data-title="Garage" data-device="Garage Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bathroomswitch" data-view="Stswitch" data-icon="lightbulb-o" data-title="Bathroom" data-device="Bathroom Switch" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="Living Room" data-device="Thermostat"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uctemp" data-view="Sttemp" data-title="Closet" data-device="Utility Closet"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenmeter" data-view="Stmeter" data-title="Kitchen" data-device="Kitchen Switch" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="backdoorcontact" data-view="Stcontact" data-title="Backdoor" data-device="Back Door"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence1" data-view="Stpresence" data-title="Me" data-device="My Mobile Presence"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="drmotion" data-view="Stmotion" data-title="Dining Room" data-device="Dining Room"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fdlock" data-view="Stlock" data-title="Front Door" data-device="Front Door Lock" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="ChangePage" data-icon="asterisk" data-title="Dashboard 2" data-page="3" data-stagger="false" data-fasttransition="true" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload" data-event-click="onClick"></div>
    </li>

  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="7" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Dashboard 2" ></div>
    </li>
 </ul>
</div>
