<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="housefan" data-view="Stswitch" data-icon="power-off" data-title="House Fan" data-device="House Fan" data-event-touchend="onClick" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="upstairslight" data-view="Stswitch" data-icon="lightbulb" data-title="Upstairs Light" data-device="Upstairs light" data-event-touchend="onClick" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pond" data-view="Stswitch" data-icon="power-off" data-title="Pond" data-device="Pond" data-event-touchend="onClick" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="netatmobase" data-view="Sttemp" data-title="Living Room" data-device="Living Room"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="netatmooutdoor" data-view="Sttemp" data-title="Backyard" data-device="Backyard"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bpresence" data-view="Stpresence" data-title="Brian" data-device="Brian"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpresence" data-view="Stpresence" data-title="Carly" data-device="Carly"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontdoor" data-view="Stcontact" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patiodoor" data-view="Stcontact" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bedroomwindow" data-view="Stcontact" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="officewindow" data-view="Stcontact" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kitchenwindow" data-view="Stcontact" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="garage" data-view="Stcontact" data-title="Bedroom" data-device="Bedroom"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload" data-event-touchend="onClick" data-event-click="onClick"></div>
    </li>

  </ul>
</div>