// ----------------------------------------------------------------------------
// Widget-Ohheating styles
// ----------------------------------------------------------------------------
.widget-ohheating {
  .title {
    color: #fff;
  }
  .current {
  	color: #00aaff;
    display: inline-block;
    vertical-align: middle;
    font-size: 350%;
  }
  .heating-off {
  	color: #fff;
  	background: #590000;
    //display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 150%;
  }
  .heating-steady {
  	color: #fff;
  	background: #75CEEB;
    //display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 150%;
  }
  .heating-on {
  	color: #000;
  	background: #93EB75;
    //display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 150%;
  }

  .unit_temperature {
    color: #00aaff;
    font-size: 120%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }
  .unit_target {
    color: #00aaff;
    font-size: 120%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }
}
