// ----------------------------------------------------------------------------
// Widget-stmeter styles
// ----------------------------------------------------------------------------
@import "/app/assets/stylesheets/theme.scss";

.widget-stmeter {
 
  input.stmeter {
    background-color: darken($background-color-1, 15%);
    color: $text-color;
    text-shadow: 2px 2px $shadow-color;
  }
  
} 
