// ----------------------------------------------------------------------------
// Widget-sttemp styles
// ----------------------------------------------------------------------------
.widget-sttemp {

  .value {
  	color: #ffffff;
    display: inline-block;
    vertical-align: middle;   
  }

  .unit {
    color: #ffffff;
    font-size: 250%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px; 
  }
} 
