// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #821AE8;

$title-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-stpresence styles
// ----------------------------------------------------------------------------
.widget-stpresence {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .mode {
  	color: #fff;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
