// ----------------------------------------------------------------------------
// Widget-ohmeter styles
// ----------------------------------------------------------------------------
.widget-ohmeter {

  input.ohmeter {
    background-color: #444;
    color: #aa00ff;
  }

  .title {
    color: #fff;
  }

}
