// ----------------------------------------------------------------------------
// Widget-ohpresence styles
// ----------------------------------------------------------------------------
.widget-ohpresence {

  .title {
    color: #fff;
  }

  .icon-present {
  	color: #aaff00;
  }

  .icon-absent {
  	color: #888888;
  }
}
